@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Merriweather&display=swap');

/* housekeeping updated for navigation styles */
/* CSS variables */

:root {
    --background-color: rgba(240, 235, 224, .85);
    --text-color: #281E1A;
    --header-color: #281E1A;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: var(--background-color);
    font-family: 'Merriweather', serif;
    color: var(--text-color);
}

section {
    height: 600px;
    width: 100%; 
}

h1,h2,h3 {
    font-family: 'Eczar', serif;
    letter-spacing: .2rem;
    font-weight: bolder;
    color: var(--header-color)
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    background-color: var(--background-color);
}

#logo
{
    float:left;
    font-size: 125%;
}

#logo a{
    text-decoration: none;
}

#menu
{
    font-size: 110%;
    letter-spacing: .05rem;
    float:right
}

#menu, #logo {
    line-height: 4rem;
}


#menu li {
    list-style-type: none;
    margin-right: 1rem;
    float: left;
}

#menu a {
    text-decoration: none;
    color:inherit;  
}

#menu a:hover {
    font-weight: bold;

}

.active {
    font-weight: bold;
    border-bottom: 1px solid var(--header-color);
}

/* hero image */

#hero-image {
    width: 100%;
    height: 600px;
    background-image: url("../images/hero.jpg");
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}