@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Merriweather&display=swap');

/* housekeeping updated for navigation styles */
/* CSS variables */

:root {
    --background-color: rgba(240, 235, 224, .85);
    --text-color: #281E1A;
    --header-color: #A39A87;
}


/* housekeeping - set default attributes */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Merriweather', serif;
    color: var(--text-color);
}

h1,
h2 {
    font-family: 'Eczar', serif;
    letter-spacing: 1px;
}

/* header navigation styles for small/mobile display from Kevin Powell video */

header {
    background: var(--header-color);
    color: var(--text-color);
    text-align: center;
    position: fixed;
    z-index: 999;
    /* make sure the header is always in front */
    width: 100%;
}

.logo-text {
    /* this is going to determine the height of the navbar so it's size matters */
    margin: 0;
}

.logo-image {
    display: flex;
    justify-self: start;
}

nav {
    position: absolute;
    /* this is relative to it's parent header element */
    top: 100%;
    /* the navigation elements will drop just below the header */
    text-align: left;
    left: 0;
    /* hugs the left of the viewport */
    background: var(--header-color);
    width: 100%;
    display: none;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    /* this gives some spacing around the menu items */
    margin-bottom: .5em;
    margin-left: .5em;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
}

nav a:hover {
    font-weight: bold;
}

.nav-toggle {
    display: none;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: .5em;
    /* align with nav li */
    height: 100%;
    /* 100% of header, for vertical center with flex */
    display: flex;
    align-items: center;
}

/* hamburger toggle label for checkbox ; 3 spans = 3 bars*/

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    width: 2em;
    /* size of bars */
    height: 2px;
    display: block;
    background: white;
    /* bar color */
    border-radius: 2px;
    /* creates the "bar" shape */
    position: relative;
    /* for each span, relative to the header parent */
}

/* copy for the top and bottom bars */
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    /* before and after pseudo classes need a content value to display */
}

/* position before and after to be above and below span  */
.nav-toggle-label span::before {
    /* this is the top bar */
    bottom: 7px;
}

.nav-toggle-label span::after {
    /* this is the bottom bar */
    top: 6px;
}






/* responsive styling for full size display from Kevin Powell video */

@media screen and (min-width: 1008px) {
    /* apply to displays 1008px and larger */

    /* reset only styling property attributes that need to change from small display */

    .nav-toggle-label {
        /* hide the burger bars */
        display: none;
    }

    header {
        /* change the header from block to grid and style the grid */
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
        justify-self: start;
    }


    .logo {
        grid-column: 2 / 3;
        /* position logo in grid column 2 */
    }

    nav {
        all: unset;
        /* clear nav style attributes */

        grid-column: 3/4;
        /* navigation ul is now in grid column 3 instead of former page position */
        display: flex;
        /* navigation ul inside the grid is now a flex container - flex instide a grid */
        justify-content: flex-end;
        align-items: center;
    }

/* style the nav elements (i.e. the menu) */

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }
}