@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500&family=Merriweather&display=swap');

/* CSS variables */

:root {
    --background-color: rgb(51, 255, 0);
    --text-color: #1b1842;
    --hdr-ftr-color:#C6E6F5;
    --page-even-back-color: #F5CFEB;
    --page-odd-back-color:#D9FEDF;
    --text-even-color: #1b1842;
    --text-odd-color: #1b1842;
}


/* housekeeping - set default attributes */

html,
body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: 'Merriweather', serif;
    color: var(--text-color);
    position: relative;
}

header {
    height: 4rem;
    width: 100vw;
    background-color: var(--hdr-ftr-color);
    position: sticky;
    top: 0;
    left: 0;
    line-height: 4rem;
    text-align: center;
}

footer {
    height: 4rem;
    width: 100vw;
    background-color: var(--hdr-ftr-color);
    position: sticky;
    top: 100%;
    left: 0;
    display: block;
}

.page {
    min-height: 600px;
    width: 100vw;
    margin-left: 2rem;
    padding-left: 1rem;
    color: red;
}

.page-even {
    background-color: #30F5F0;
}

.page-odd {
    background-color: #F5CFEB;
}

#home {
    margin: 0;
    padding: 0;
}


#hero {
    height: 600px;
    width: 100%;
    background-image: url(../images/hero.jpg);
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-color: var(--page-odd-back-color);
}

#hero > h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: transparent;
}
